        * {
            font-family: Poppins, sans-serif;
        }
        
        header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #f1d0a2;
            padding-right: 30px;
            padding-left: 30px;
        }
        
        .logo {
            color: #840f0f;
            cursor: pointer;
            font-size: 30px;
            font-weight: bold;
        }
        
        .nav-links,
        a {
            color: white;
            list-style: none;
            display: flex;
            text-decoration: none;
            font-size: 20px;
            padding-left: 20px;
            padding-right: 20px;
        }
        
        .nav-links :hover {
            color: #840f0f;
        }
        
        .orderN {
            height: 35px;
            width: 100px;
            text-align: center;
            border: none;
            background-color: #840f0f;
            color: aliceblue;
            border-radius: 3px;
        }
        
        .sect1 {
            width: 100%;
            background-image: url(/img/pizzah.jpg);
            background-size: 2000px 1000px;
            background-repeat: no-repeat;
            height: 800px;
        }
        
        .heading h1 {
            font-size: 60px;
            height: 40px;
            align-self: center;
            margin-bottom: 40px;
            text-align: center;
            padding-bottom: 50px;
            padding-top: 300px;
            color: white;
        }
        
        .subhead h2 {
            font-size: 40px;
            text-align: center;
            padding-top: 0px;
            color: white;
        }
        
        h1 {
            text-align: center;
            font-size: 60Px;
        }
        
        .sect2 img {
            max-height: 300px;
            max-width: 300px;
        }
        
        .sect2 {
            display: flex;
            justify-content: space-around;
            text-align: center;
        }
        
        .cont {
            margin: 20px;
        }
        
        h3 {
            font-size: 30px;
            font-weight: bold;
        }
        
        .sect2 p {
            font-size: 20px;
        }
        
        .sect3 {
            height: 500px;
        }
        
        fo